* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,div,span,applet,object,iframe,a,img {
  font-family: "Saira", sans-serif;
}

.hero {
  background-image: url("../images/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 20px #000000;
  box-shadow: 0 20px #000000;
}

.container-text-hero {
  display: none;
}

.text-hero {
  color: #FFFFFF;
  text-align: center;
  font-size: 45px;
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.principal-container {
  background-color: #dadada;
  padding-bottom: 10px;
}

.about-me {
  text-align: center;
  color: #191919;
  padding: 50px 40px 27px 40px;
}

.about-me-title-one {
  border-bottom: 1px solid #000000;
  font-size: 20px;
  margin: 0 auto;
  letter-spacing: 10px;
}

.about-me-title {
  font-size: 16px;
}

.about-me-text {
  font-size: 18px;
  text-align: justify;
  margin: 0 auto;
  padding-top: 25px;
}

.container-icons-one {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.22;
  margin-top: 20px;
  margin-bottom: 9px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-icons-two {
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0.22;
  height: 60px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-media {
  width: 35px;
  height: 35px;
  margin: 0 12px;
}

.projects {
  background-color: #191919;
  color: #dadada;
}

.footer {
  background-color: #dadada;
  width: 100%;
  font-size: 16px;
}

.container-footer1 {
  background-color: #262626;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.container-footer2 {
  background-color: #191919;
  height: 70px;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon-style {
  height: 30px;
  opacity: 0.55;
  padding: 0 5px;
}

.text-footer1 {
  color: #a6a6a6;
  padding-right: 20px;
}

.text-footer2 {
  color: #a6a6a6;
}

.buttons {
  width: 60px;
  position: absolute;
  bottom: 20px;
}

.hamburger-icon {
  width: 76px;
  height: 61px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

@media all and (min-width: 768px) {
  .container-text-hero {
    background-color: rgba(0, 0, 0, 0.3);
    height: 241px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .principal-container {
    padding-bottom: 55px;
  }

  .about-me {
    padding: 90px 200px 25px 200px;
  }

  .about-me-title-one {
    font-size: 30px;
    width: 60%;
  }

  .about-me-title {
    padding: 0 30px;
  }

  .container-icons-one {
    height: 85px;
  }

  .container-icons-two {
    height: 85px;
  }

  .icon-media {
    width: 48px;
    height: 48px;
  }

  .footer {
    font-size: 18px;
  }

  .icon-style {
    height: 40px;
    padding: 0 15px;
  }

  .text-footer1 {
    padding-right: 65px;
  }

  .buttons {
    bottom: 55px;
  }

  .hamburger-icon {
    width: 62px;
    height: 56px;
  }
}

/*# sourceMappingURL=main.css.map */
