//variables colores
$fontGenerally: 'Saira', sans-serif;

$colorPrimary: #dadada;
$colorSecundary: #191919;
$colorTertiary: #a6a6a6;
$colorQuaternary: #000000;
$colorQuintary: #FFFFFF;


// Blanco roto #dadada
// Gris oscuro #191919
// Gris claro #a6a6a6
// Negro #000000
// Blanco #FFFFFF
