//variables colores
$fontGenerally: 'Saira', sans-serif;

$colorDarkWhite: #dadada;
$colorDarkGrey: #191919;
$colorLightGrey: #a6a6a6;
$colorBlack: #000000;
$colorWhite: #FFFFFF;


// Blanco roto #dadada
// Gris oscuro #191919
// Gris claro #a6a6a6
// Negro #000000
// Blanco #FFFFFF
