.history {
  background-color: $colorPrimary;
}

.header-history {
  width: 100%;
  height: 207px;
}

.image-me {
  width: 193px;
  height: 193px;
  border-radius: 50%;
  display: block;
  margin: -100px auto;
  margin-bottom: 0;
}
