.arrow-down {
  width: 60px;
  position: absolute;
  bottom: 20px;
  margin-left: -27px;
  @media all and (min-width: 768px){
    bottom: 55px;
  }
}

.hamburger-icon {
  width: 76px;
  height: 61px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  @media all and (min-width: 768px){
    width: 62px;
    height: 56px;
  }
}

.arrow-up {
  width: 60px;
  right: 27px;
  position: absolute;
  right: 0;
}
